<nav
  class="bg-gray-800 text-white p-4 flex justify-between items-center shadow-md"
>
  <span class="text-xl font-semibold tracking-wide">Blog App</span>
  <div class="flex items-center space-x-4">
    <!-- Show login/register links if not authenticated -->
    @if (!authenticated) {
    <a
      class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-full transition duration-300 shadow-md flex items-center space-x-2"
      routerLink="/login"
      routerLinkActive="active"
      >Login</a
    >
    <a
      class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-full transition duration-300 shadow-md flex items-center space-x-2"
      routerLink="/register"
      routerLinkActive="active"
      >Register</a
    >
    } @else {
    <!-- Show feed/dashboard/profile/logout links if authenticated -->
    <a
      class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-full transition duration-300 shadow-md flex items-center space-x-2"
      routerLink="/global-feed"
      routerLinkActive="active"
    >
      <img src="/feed-icon.svg" alt="Feed" class="w-5 h-5" />
      <span>Feed</span>
    </a>
    <a
      class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-full transition duration-300 shadow-md flex items-center space-x-2"
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      <img src="/dashboard-icon.svg" alt="Dashboard" class="w-6 h-6" />
      <span>Posts</span>
    </a>
    <a
      class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-full transition duration-300 shadow-md flex items-center space-x-2"
      routerLink="/profile"
      routerLinkActive="active"
    >
      <img src="/profile-icon.png" alt="Profile" class="w-6 h-6 rounded-full" />
      <span>Profile</span>
    </a>
    <button
      (click)="logout()"
      class="bg-red-700 hover:bg-red-600 text-white px-4 py-2 rounded-full transition duration-200"
    >
      Logout
    </button>
    }
  </div>
</nav>
